@{
    var items = new int[] { 1, 2, 3, 4, 5 };
}

@foreach (var i in items)
{
    @i
}


@foreach (var i in items)
{
    @(i+" ")
}


<ul>
@foreach (var i in items)
{
  <li>@i</li>
}
</ul>










@{
    ViewBag.Title = "<h1>Hello Razor</h1>";
}

@Html.Raw(ViewBag.Title)

<hr />

<ul>
    @for (int i = 0; i < 10; i++)
    {
        <li>@i</li>
    }
</ul>

@if (true)
{
    <blockquote>
        Hello World
    </blockquote>
}

@if (true)
{
    <text>
        Hello World
    </text>
}